.carousel-inner img {
    height: 450px;
    object-fit: cover;
}

.info {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.contacto{
    background-image: url("../img/contacto_background.jpg");
}